@media( max-width: 1024px ){
	.form,.cont-info {
   	 	width: 450px;
   	 	padding-right: 30px;
	}
	.map {
    	height: 1000px;
	}
	.vmv {
    width: 100%;
    height: 275px;}
}

@media( max-width: 768px ){
	.form,.cont-info {
    	width: 740px;
    	padding-right: 0px;
    	margin: 0 auto;
	}
	.map {
	    height: 300px;
	}
	.cont-cont {
	    -webkit-column-count: 1;
	    -moz-column-count: 1;
	    column-count: 1;
	    -webkit-column-gap: 0px;
	    -moz-column-gap: 0px;
	    column-gap: 0px;
	}
	.vmv > div > h4 {
		font-size: 15px;
	}
	.vmv {
	    width: 100%;
	    height: 225px;
	}
	.vmv > div > p {
    padding: 0px 17px;
    font-size: 14px;
	}
	.his-img img{
		display: block;
		margin: 0 auto
	}
	.his h4,.his p { 
		text-align: center;
	}
	.directors {
	    margin: 120px 0px 35px;
	}
	.directors-main{
		padding-bottom: 50px
	}
}
@media( max-width: 680px ){
	.form,.cont-info {
    	width: 100%;
    	padding: 10px 0;
    	margin: 0 auto;
	}
	.vmv {
		margin: 20px 0px 30px;
		background-size: cover;
	}
	.his-img img {
    width: 100%;
}
}