@media( max-width: 1024px ){
    .aw-div {
    max-width: 475px;
    padding-right: 35px;
    margin-top: 40px;
}
     .menu > div > a.btn {
         display: none;
    }
     .form,.cont-info {
         width: 450px;
         padding-right: 30px;
    }
     .map {
         height: 1000px;
    }
     .vmv {
         width: 100%;
         height: 275px;
    }
     .quality {
         width: 100%;
         float: none;
         text-align: center;
         padding: 25% 15px;
    }
     .quality-div {
         max-height: 1120px;
         clear: both;
    }
     .bike-back {
         background-image: inherit;
    }
     .owl-bike img {
         max-width: 400px;
    }
     .bike-msg {
         background-size: inherit;
         width: 420px;
    }
     .ani-bike-section {
         background-size: cover;
    }
     .bike-msg h6 {
         font-size: 20px;
    }
     .bike-msg p {
         font-size: 13px;
    }
     .map-img {
         display: none;
    }
     .mobile-map{
         display: block;
    }
     .map-img{
         display: none;
    }
     .mobile-map > div > span{
         background-color: #000;
         color: #fff;
         width: 65%;
         display: inline-block;
         vertical-align: middle;
         margin-left: -13px;
         padding: 6px 20px;
         border-radius: 0px 10px 0px 0px;
    }
     .mobile-map > div > img{
         display: inline-block;
         vertical-align: middle;
         z-index: 10;
         position: relative;
    }
     .mobile-map > div{
         text-align: center;
         margin-bottom: 10px;
         width: 50%;
         float: left;
         height: 50px;
    }
    .cat-hed {
    width: 460px;}
}
 @media( max-width: 800px ){
    .sev-nav ul li {
    display: none;
}
.sev-nav ul li.active {
    display: block;
}
.res-drop-ipad.active + ul li{
    display: block;
}
.sev-nav ul li.active::after{
    display: none;
}
    .news-img img{
        width: 100%
    }
    .awod-cont {
    width: 100%;
    margin: 50px auto 20px;
}
.aw-div {
    max-width: 100%;
    padding-right: 35px;
    margin-top: 40px;
    float: none;
    padding-left: 25px;
}
.affiliate.awrd{
    width: 100%;}
    .order-xs-1 {
      -ms-flex-order: 1;
      order: 1;
    }

    .order-xs-2 {
      -ms-flex-order: 2;
      order: 2;
    }
    .cat-hed {
        width: 100%;
        padding: 40px;
    }
     .progres-heading {
         margin: 10px;
    }
     .msg-box {
         height: 300px;
    }
     .bike-asb {
         margin: 0 auto;
    }
     .bike-msg-rm {
         left: -800px;
    }
     .bike-msg {
         background-size: cover;
         width: 100%;
    }
     .dote {
         width: 2.3%;
    }
     .line {
         width: 15%;
    }
     .menu > div.mobile-menu{
         display: block;
         right: 15px;
    }
     .menu > div:last-child {
         position: absolute;
         right: 65px;
         top: 33px;
    }
     .slider-main > div > h2 {
         font-size: 30px;
         line-height: 33px;
         margin-bottom: 16px;
    }
     .slider-main > div {
         position: absolute;
         top: 60%;
    }
     .menu > ul {
         display: block;
         max-height: 0px;
         overflow: hidden;
         background-color: #212121;
         transition: all 1s;
         position: relative;
         top: 10px;
         padding: 0px;
    }
     #menu-primary-menu.open-menu{
         max-height: 500px;
    }
     .menu > ul > li {
         display: block;
         padding: 10px 20px;
    }
     .owl-bike img {
         max-width: 270px;
    }
     .quality > h3 {
         color: #fff;
         font-size: 33px;
    }
     .form,.cont-info {
         width: 740px;
         padding-right: 0px;
         margin: 0 auto;
    }
     .map {
         height: 300px;
    }
     .cont-cont {
         -webkit-column-count: 1;
         -moz-column-count: 1;
         column-count: 1;
         -webkit-column-gap: 0px;
         -moz-column-gap: 0px;
         column-gap: 0px;
    }
     .vmv > div > h4 {
         font-size: 15px;
    }
     .vmv {
         width: 100%;
         height: 225px;
    }
     .vmv > div > p {
         padding: 0px 17px;
         font-size: 14px;
    }
     .his-img img{
         display: block;
         margin: 0 auto 
    }
     .his h4,.his p {
         text-align: center;
    }
     .directors {
         margin: 120px 0px 35px;
    }
     .directors-main{
         padding-bottom: 50px 
    }
     .stickmenu.menu > div:last-child {
         top: 18px;
    }
     .affiliate > h3 {
         font-size: 45px;
    }
     .banner div.cont h1 {
         font-size: 35px;
    }
     .banner div.cont {
         top: 70%;
    }
}
 @media( max-width: 680px ){
     .products-list h4 {
         font-size: 19px;
    }
     header.inner_page {
         position: relative;
         background-color: #141414;
    }
     .menu {
         border-bottom: none;
    }
     .mobile-map > div {
         width: 100%;
    }
     .mobile-footer div{
         max-height: 0px;
         transition: all 1s;
         overflow: hidden;
    }
     .mobile-footer h4{
         position: relative;
         cursor: pointer;
    }
     .mobile-footer h4:after{
         content: '+';
         position: absolute;
         right: 0px;
         color: #fff 
    }
     .mobile-footer h4.open-fot:after{
         content: '-';
    }
     .mobile-footer h4.open-fot + div {
         max-height: 500px;
    }
     .form,.cont-info {
         width: 100%;
         padding: 10px 0;
         margin: 0 auto;
    }
     .vmv {
         margin: 20px 0px 30px;
         background-size: cover;
    }
     .his-img img {
         width: 100%;
    }
     .hd-mobile{
         display: none;
    }
     .map-img {
         height: auto;
    }
     .blog {
         margin-bottom: 50px;
    }
     .awards {
         margin: 40px 0px 0px;
    }
     .affiliate {
         width: 100%;
    }
     .footer-cont {
         text-align: center;
    }
     .cont-footer {
         margin-bottom: 10px;
    }
     .welcome-section {
         background-size: 30%;
    }
    .baike-nav ul li {
    display: block;}
    .baike-nav ul li.active::after{
        display: none;
    }
    .res-drop {
        background-image: url(../img/li-tangle.png);
    content: '';
    width: 50px;
    height: 47px;
    display: block;
    position: absolute;
    right: 14px;
    margin: 0 auto;
    top: 71px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
    }
    .res-drop.active + ul li{
        display: block;
    }
    .baike-nav ul li{
        display: none;
    }
    .baike-nav ul li.active{
        display: block;
    }
    .bike-cont {
    width: 100%;
    padding-right: 0px;
    text-align: center;
    float: none;}
    .specifications {
    width: 100%;
    float: none;
    padding-top: 50px;
    padding-left: 0;
    min-height: auto;
      background-color: #fff;
      text-align: center;
}
.specifications::after {
    display: none;
}
.specifications li {
    background-image: inherit;
    padding-left: 0px;
}
}
 @media( max-width: 480px ){
    .sev-cont > div {
    text-align: center;
}

     .banner div.cont {
         top: 54%;
         text-align: center;
         width: 92%;
    }
     .banner div.cont h1 {
         font-size: 25px;
    }
     .copy .right {
         float: none;
    }
     .copy .left {
         float: none;
    }
     .copy {
         text-align: center;
    }
     .slider-main > div > h2 {
         font-size: 17px;
         line-height: 20px;
    }
     .slider-main > div > a {
         font-size: 12px;
         padding: 4px 9px;
         width: 119px;
    }
     .slider-main > div {
         top: 70%;
    }
     .welcome > h1 {
         font-size: 28px;
    }
     .welcome > p {
         font-size: 14px;
    }
}
