

@import url('https://fonts.googleapis.com/css?family=Russo+One');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*

font-family: 'Russo One', sans-serif;

font-family: 'Open Sans', sans-serif;

*/

body{

	font-family: 'Open Sans', sans-serif;

}

a:hover{

	text-decoration: none;

}

.slider-main{

	position: relative;

}

.slider-main > div{

	position: absolute;

	top: 50%;

	transform: translateY(-50%);

	width: 50%;

	margin: 0 auto;

	left: 0px;

	right: 0px;

	text-align: center;

}

.slider-main > div > h2{

	font-size: 50px;

	color: #fff;

	font-family: 'Russo One', sans-serif;

	text-align: center;

	line-height: 70px;

	margin-bottom: 40px;

}

.slider-main > img{

	width: 100%

}

.btn,.slider-main > div > a{

	color: #fff;

	font-size: 15px;

	text-transform: uppercase;

	letter-spacing: 1px;

	border: 1px solid #fff;

	padding: 10px 30px;

	width: 175px;

	display: inline-block;

	text-align: center;

	margin: 0 auto;

	background-color: rgba(0,0,0,0);

}

header{

	position: fixed;

	width: 100%;

	top: 0px;

	z-index: 9999;

	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));

	-webkit-transition: background-color 1000ms linear;

    -ms-transition: background-color 1000ms linear;

    transition: background-color 1000ms linear;

    transition: all 2s ease 0s;

}

.menu{

	width: 100%;

	border-bottom: 1px solid #a7a7a7;

	padding-bottom: 30px;

	padding-top: 30px;

	-moz-transition: padding .3s ease-in;

     -o-transition: padding .3s ease-in;

     -webkit-transition: padding .3s ease-in;

     transition: padding .3s ease-in;

}

.menu > ul{

	padding-left: 25px;

	margin-bottom: 0px;

	display: inline-block;

	vertical-align: middle;

	padding-right: 30px;

}

.menu > ul > li{

	display: inline-block;

	padding: 0px 20px;

}

.menu > ul > li a{

 color: #fff;

 text-transform: uppercase;

 font-weight: 600;

 font-size: 14px



}

.menu > ul > li a:hover{

	color: #f15b26

}

.menu > a{

	display: inline-block;

	vertical-align: middle;

}

.menu > div{

	display: inline-block;

	vertical-align: middle;

}

.msg{

	display: inline-block;

	width: 23px;

	height: 18px;

	background-image: url(../img/msg.png);

	background-repeat: no-repeat;

	vertical-align: middle;

	margin-left: 15px;

}

.welcome{

	text-align: center;

	margin: 14% 0px 25%;

}

.welcome > h1{

	font-size: 40px;

	color: #312828;

	font-family: 'Russo One', sans-serif;

	margin-bottom: 15px;

}

.welcome > h1 > span{

	color: #f15b26;

}

.welcome > p{

	color: #312828;

	font-size: 17px;

	line-height: 31px

}

.welcome-section{

	background-image: url(../img/welcome.png);

	background-repeat: no-repeat;

	background-position: bottom right;

}

.right-bike{

	background-image: url(../img/bike-img-1.png);

	background-repeat: no-repeat;

	overflow: hidden;

	background-size: cover;

	width: 100%;

}

.quality{

/*	width: 442px;*/

	float: right;

	text-align: center;

	padding: 25% 0px;

}

.quality > h3{

	color: #fff;

	font-size: 47px;

	font-family: 'Russo One', sans-serif;

	line-height: 50px;

	text-transform: uppercase;

	padding: 0px 35px;

}

.quality > p{

	color: #fff;

	font-size: 16px;

	margin-top: 20px;

}

.quality > a{

	width: 190px;

	margin-top: 50px;

}

.owl-bike{

	text-align: center;

	padding-bottom: 2px;

}

.owl-bike > img{

	display: block;

	margin: 0 auto;

	width: auto !important;

}

.owl-bike > img{

	font-size: 16px;

color: #090909;
width: 80% !important;
}

.owl-bike > h6{

font-size: 27px;

color: #090909;

font-family: 'Russo One', sans-serif;

	}

.owl-bike > a{

	color: #090909;

	border-color: #090909;

}

#owl-bike{

	margin-top: 40px;

}

.bike-back{

	background-image: url(../img/bike-back.png);

	background-repeat: no-repeat;

	background-position: bottom left;

}

.menu.stickmenu{

	border-bottom: 0px;

	padding-bottom: 15px;

	padding-top: 15px;

}

.menu-gray{

	background: rgba(0, 0, 0, 0.72);

}

.ani-bike-section{

	background-image: url(../img/background-gray.jpg);

	background-size: 100%;

	height: 100%;

	padding-top: 60px;

	overflow: hidden;

}

.sub-hed{

	margin: 50px;

}

.sub-hed > h4{

	color: #312828;

	font-family: 'Russo One', sans-serif;

	font-size: 25px;

	text-align: center;

}

.sub-hed > h4 > span{

	color: #f15b26;

}

.blog{



}

.blog > img{

	width: 100%

}

.blog > span{

	display: block;

	font-size: 14px;

	color: #949292;

	margin: 15px 0px;

}

.blog > h6{

	color: #3a3333;

	font-size: 16px;

	font-weight: 600;

	margin-bottom: 15px;

	margin-top: 0px

}

.blog > p{

	color: #3a3333;

	font-size: 13px

}

.blog  > a {

    color: #6e6e6e;

	border-color: #6e6e6e;

	font-weight: 600;

	font-size: 14px;

	padding: 9px;

	width: 145px;

}

.owl-bike > h4{

	color: #312828;

	font-family: 'Russo One', sans-serif;

	font-size: 25px;

	text-align: center;

	margin-bottom: 30px;

}

.owl-bike > h4 > span{

	color: #f15b26;

}

.awards{

	margin: 130px 0px 0px

}

.affiliate{

/*	width: 570px;*/

	text-align: center;

	padding: 100px 60px;

}

.affiliate > h3{

	color: #fff;

	font-family: 'Russo One', sans-serif;

	font-size: 55px;

	text-align: center;

}

.affiliate > h3 > span{

	font-size: 29px;

	display: block;

	margin-bottom: -10px;

}

.affiliate > p{

	font-size: 15px;

	color: #fff;

	text-align: center;

}

.affiliate-color{

	background: #f15b26;

}

.affiliate > a{

	margin-top: 35px;

}

#owl-cer{

    padding-top: 50px;

}

.map-img{

	position: relative;

	height: 420px;



}

.map-img > img{

	width: 100%;

	position: absolute;

	top: 0px;

	right:0px;

	opacity: 0

}

.map-img > img.active{

	opacity: 1

}



.map-img > span{

	cursor: pointer;

	display: block;

	width: 20px;

	height: 20px;

	position: absolute;

}



#map{



}

#finland{

	left: 597px;

top: 73px;

}

#germany{

	left: 570px;

top: 113px;

}

.awards-heading{

text-align: center;

width: 100%

}

.awards-heading > h4 {

    color: #312828;

    font-family: 'Russo One', sans-serif;

    font-size: 25px;

    text-align: center;

    margin-bottom: 30px;

}

.awards-heading > h4 > span {

    color: #f15b26;

}

footer{

	background-color: #1e1e1e

}

.footer-logo{



}

.footer-logo img{

	  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */

  filter: grayscale(100%);

}

.cont-footer{

	

}

.footer-logo{

	padding-top: 15px;

	padding: 20px 0px;



}

.cont-footer > span{

	display: block;

	font-size: 15px;

	color: #f15b26;

	font-weight: 500

}

.cont-footer > h5{

	font-size: 22px;

	color: #fff

}

.cont-footer > a{

	font-size: 22px;

	color: #fff

}

.cont-footer ul{

	padding-left: 0px;

	margin-bottom: 0px

}

.cont-footer ul li{

	display: inline-block;

	margin: 5px;

}

.footer-con{



}

.footer-con h4{

	font-family: 'Russo One', sans-serif;

	font-size: 19px;

	color: #fff;

	margin-bottom: 25px;

}

.footer-con ul {

	list-style: none;

	padding-left: 0px;

	margin-top: -10px;

}

.footer-con ul li{

	padding: 5px 0px;

}

.footer-con ul li a{

	font-size: 14px;

	color: #fff;

}

.footer-con p{

	font-size: 14px;

	color: #fff;

}

.footer-con p span{

	display: block;

	margin-bottom: 10px;

}

.footer-cont {

	border-bottom: 1px solid #333131;

	margin-bottom: 45px;

	padding: 25px 0px 15px;

}

.copy{

	background-color: #191919;

	overflow: hidden;

padding: 20px 0px 1px;

}

.copy p,.copy a{

	font-size: 13px;

	color: #606060;

}

.copy .left{

	float: left;

}



.copy .right {

	float: right;

}

.banner{

	max-height: 340px;

	position: relative;

	overflow: hidden;

}

.banner img{

	width: 100%

}

.banner div.cont{

position: absolute;

top: 50%;

transform: translateY(-50%);



}

.banner div.cont h1{

	font-family: 'Russo One', sans-serif;

	color: #fff;

	text-transform: uppercase;

	font-size: 50px;
	margin-bottom: 0px;
line-height: 58px;

}

.cont-info{

	width: 665px;

	float: right;

}



.cont-info p,.cont-info a{

	font-size: 15px;

	color: #212121;

	margin-bottom: 0px

}

.address,.email,.fax,.tel{

	

	background-repeat: no-repeat;

	padding-left: 45px;

	background-position: top left;

	min-height: 45px;

}

.address{

	background-image: url(../img/adz.png);

}

.email{

	background-image: url(../img/mail.png);

}

.fax{

	background-image: url(../img/fax.png);

}

.tel{

	background-image: url(../img/call.png);	

}

.cont-info > p{

	margin-bottom: 40px;

}

.form label{

	color: #0c0c0c;

	display: block;

	font-size: 15px

}

.form input{

	height: 40px;

	width: 100%;

	margin-bottom: 20px;

	border: 1px solid #c0c0c0;

	padding-left: 10px

}

.form textarea{

	width: 100%;

	height: 200px;

	border: 1px solid #c0c0c0;

	padding-left: 10px;

	padding-top: 5px

}

.clear{

	clear: both;

}

.form{

	width: 665px;

float: right;	

padding-right: 50px;

}



.form h4{

	color: #212121;

	font-size: 25px;

	font-family: 'Russo One', sans-serif;

	margin: 30px 0px 25px;

}

.map{

	width: 100%;

	height: 900px

}

.cont-info{

	margin-top: 50px;

	padding-right: 50px;

}

.form input[type="submit"]{

	background-color: #ff6f3c;

	width: 150px;

	text-align: center;

	margin-top: 40px;

color: #fff;

font-size: 16px;

font-weight: 600;

text-transform: uppercase;

border: none;

}

.cont-cont{

	-webkit-column-count: 2; /* Chrome, Safari, Opera */

    -moz-column-count: 2; /* Firefox */

    column-count: 2;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */

    -moz-column-gap: 40px; /* Firefox */

    column-gap: 40px;

    margin-top: 70px;

    margin-bottom: 70px;

}



.cont-cont p{

    font-size: 17px;

    color: #312828;

    line-height: 23px;

    text-align: justify;

}

.gary{

	background-color: #f6f6f6

}



.vmv{

	position: relative;

	width: 330px;

	height: 270px;

	box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.21);

	margin: 100px 0px 80px;

}

.vmv > div{

	position: absolute;

	top:50%;

	transform: translateY(-50%);

}

.vmv > div > h4 {

	background-color: #f15b27;

	font-size: 23px;

	font-family: 'Russo One', sans-serif;

	color: #fff;

	width: 85%;

	margin: 0 auto;

	text-align: center;

	padding: 12px;

}

.vmv > div > p{

	height: 0px;

	transition: all 2s;

	color: #fff;

	padding: 0px 25px;

	margin-top:20px;

	text-align: center;

	overflow: hidden;

}

.vmv:hover > div > p{

	height: 235px;

}

.vmv:hover {

    background-image: inherit !important;

background-color: #fff;

}

.vmv:hover > div > p{

	color: #0e0e0e

}

.vision{



}

.his h4{

	color: #312828;

	font-family: 'Russo One', sans-serif;

	font-size: 25px;

	text-align: left;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.his h4 span{

	color: #f15b26;

}

.his p{

    font-size: 16px;

    color: #312828;

}



.history{

	padding: 70px 0px;

}

.directors{

	background-color: #fff;

	padding: 20px 25px 30px;

	margin: 120px 0px 70px;

}

.directors > img{

	width: 100%;

	margin-top: -140px;

}

.directors h6{

	color: #686161;

	font-size: 15px;

	padding: 23px 0px 7px;

	font-weight: 600;

	font-family: 'Russo One', sans-serif;

	letter-spacing: 1px;

}

.directors h6 span{

	color: #f15b27;

	display: block;

}



.directors p{

	color: #1d1d1d;

	font-size: 15px;

	margin-bottom: 25px;

}

.directors a{

	text-transform: uppercase;

font-size: 14px;

color: #1d1d1d;

letter-spacing: 1px;

border: 1px solid #1d1d1d;

padding: 7px 21px;

}

.cat-hed{

width: 555px;

padding: 50px 50px 50px 0px;

}

.pad-left{

padding: 50px 50px 50px 50px;	

}

.cat-hed h4{

color: #312828;

font-family: 'Russo One', sans-serif;

font-size: 30px;

}

.cat-hed h4 span{

		color: #f15b26;

}

.cat-hed > p{

	color: #312828

}

.cat-hed > div{

	color: #312828;

	margin-bottom: 20px;

}

.cat-hed > div > span{

	display: block;

	font-weight: 600;

	color: #312828

}

.fac-img{

	width: 100%

}

.fac-img > img{

	width: 100%

}

.flex-end{

	justify-content: flex-end

}

.row-gry{

	background-color: #f6f6f6

}

.arow-left:after{

	content: '';

width: 30px;

height: 67px;

background-image: url(../img/tangle-left.png);

position: absolute;

left: 0px;

top: 50%;

transform: translateY(-50%);

transition: all 1s;

}

.arow-left:hover:after{

	left: -28px;

}

.arow-right:after{

	content: '';

width: 34px;

height: 67px;

background-image: url(../img/tangle.png);

position: absolute;

right: 0px;

top: 50%;

transform: translateY(-50%);

transition: all 1s;

z-index: 100;

}

.arow-right:hover:after{

	right: -28px;

}

.products-list {

	text-align: center;

	box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.28);

	margin: 20px 0px;

	padding: 30px;

}

.products-list img{

	width: 90%;
	max-height: 160px;
	margin: 0 auto

}

.products-list h4{

	text-align: center;

	font-size: 25px;

	color: #212121;

	font-family: 'Russo One', sans-serif;

	text-transform: uppercase;

	margin:20px;

}



.products-list a{

	color: #151515;

font-size: 15px;

text-transform: uppercase;

letter-spacing: 1px;

border: 1px solid #151515;

padding: 10px 30px;

width: 175px;

display: inline-block;

text-align: center;

margin: 0 auto;

background-color: rgba(0,0,0,0);

}

.products-list:hover{

	background-color: #ff703e

	}

.products-list:hover h4{

	color: #fff

	} 

.products-list:hover a{

	color: #fff;

	border: 1px solid #fff;

	} 

.list-product{

	margin: 50px 0px

}



.baike-nav{

	background-image: url(../img/bor-botem.png);

	background-repeat: no-repeat;

	background-position: bottom center;

	padding-bottom: 15px;

	margin-top: 70px;



}

.baike-nav ul{

	list-style: none;

	padding-left: 0px;

	margin-bottom: 0px;

	text-align: center;

}

.baike-nav ul li{

	display: inline-block;

font-size: 25px;

font-family: 'Russo One', sans-serif;

color: #6b6b6b;

padding: 5px 20px;

cursor: pointer;

}

.baike-cont > div{

	display: none;

}

.baike-cont{



}

.baike-cont > div.active{

	display: block;

}

.baike-nav ul li.active{

	color: #fff;

	background-color: #ff703e;

	position: relative;

}

.baike-nav ul li.active:after{

	background-image: url(../img/li-tangle.png);

content: '';

width: 34px;

height: 18px;

display: block;

position: absolute;

left: 0px;

right: 0px;

margin: 0 auto;

bottom: -18px;

background-position: center;

}



.bike-cont{

	width: 65%;

	float: left;

		padding-top: 50px;

		padding-right: 70px;

}

.specifications{

	width: 35%;

	float: left;

		padding-top: 50px;

padding-left: 30px;

background-color: #fafafa;

min-height: 700px;

position: relative;

}

.specifications:after{

width: 300%;

height: 100%;

content: '';

position: absolute;

right: -300%;

top: 0px;

z-index: 100;

background-color: #fafafa;}



.bike-cont p{

	font-size: 16px;

color: #0a0a0a;

line-height: 29px;

}

.specifications h4{

	text-transform: uppercase;

	font-size: 25px;

font-family: 'Russo One', sans-serif;

color: #ff703e;

margin-bottom: 25px

}

.bike-cont a{

	color: #000;

border-color: #000;

width: 180px;

margin-top: 20px;

}

.specifications span{

	display: block;

	margin-bottom: 10px;

	font-weight: 600

}

.specifications ul{

padding-left: 0px

}

.specifications li{

	margin-bottom: 20px;

background-image: url(../img/bult.png);

background-repeat: no-repeat;

background-position: 0px 6px;

list-style: none;

padding-left: 25px; 

}

.bik-con{

	overflow-x: hidden;

}



.bike-cont img{

	display: block;

	margin:0 auto;

	max-width: 	500px;

	width: 100%

}



.news{

	margin: 30px 0px;

}

.news > div{

	position: relative;

}

.news > div > img{

	width: 100%

}

.news > div > div{

	position: absolute;

	color: #fff;

	font-size: 15px;

	background-color: #e8562f;

	font-family: 'Russo One', sans-serif;

	bottom: 0px;

	left: 0px;

	padding: 18px 25px 17px;

	max-width: 90px;

	line-height: 17px;

	text-align: center;

	transition: all 1s;

}

.news > div > div > span{

	display: block;

	font-size: 30px;

	line-height: 25px;

}

.news h4{

	font-family: 'Russo One', sans-serif;

	font-size: 20px;

	margin: 18px 5px 15px;

letter-spacing: 1px;

line-height: 23px;

}

.news p{

	font-size: 16px;

	color: #312828;

	padding-left: 5px

}



.news a{

	font-family: 'Russo One', sans-serif;

	color: #999999;

	padding-left: 5px;

	font-size: 16px;

}

.news:hover div > div{

bottom: 10px;

	left: 10px;

}



.news:hover a{

	color: #e8562f

}

.news-lis{

	margin: 50px 0px

}

.sev-nav ul{

	list-style: none;

	padding-left: 0px;

	margin-bottom: 0px;

}

.sev-nav ul li{

	display: inline-block;

font-size: 20px;

font-family: 'Russo One', sans-serif;

color: #6b6b6b;

padding: 5px 20px;

cursor: pointer;

width: 100%;

text-align: left;

background-color: #ececec;

margin-bottom: 8px;

padding: 12px 16px;

}

.baike-cont > div{

	display: none;

}

.baike-cont{



}

.baike-cont > div.active{

	display: block;

}

.sev-nav ul li.active{

	color: #fff;

	background-color: #f15b27;

	position: relative;

}

.sev-nav ul li.active:after{

	background-image: url(../img/sav.png);

content: '';

width: 10px;

height: 18px;

display: block;

position: absolute;

right: -9px;

margin: 0 auto;

bottom: 19px;

background-position: center;

}

.sev-cont img{

	max-width: 100%;

	width: 100%

}

.sev-cont h4{

	color: #f15b27;

	font-size: 30px;

	font-family: 'Russo One', sans-serif;

	margin-top: 20px;

	text-transform: uppercase;

}

.sev-cont p{

	font-size: 16px;

	color: #1a1919;

	line-height: 25px;

}

.sev-cont > div{

	display: none;

}

.sev-cont > div.active{

	display: block;

}

.sev-cont a{

	color: #000;

	border-color: #000;

	margin: 20px 0px 50px;
display: none;
}
#menu-primary-menu > li > ul.sub-menu{
	max-height: 0px;
	overflow: hidden;
	position: absolute;
	transition: all 0.5s;
	list-style: none;
	padding-left: 0px;
	padding-top: 10px;
}
#menu-primary-menu > li > ul.sub-menu li a{
	color: #fff;
}
#menu-primary-menu > li:hover ul.sub-menu{
	max-height: 500px;
	
}
#menu-primary-menu > li > ul.sub-menu li:hover a{
	color: #fff;	
}
#menu-primary-menu > li > ul.sub-menu li{
	background: rgba(0, 0, 0, 0.67);
	padding: 10px;
	border-bottom: 1px solid #505050;
	transition: all 0.5s;
	width: 190px;
}
.quality > a,.affiliate > a{
	transition: all 0.5s;
}
.quality > a:hover,.affiliate > a:hover {
background-color: #fff;
color: #000
}
#menu-primary-menu > li > ul.sub-menu li:hover{
	background: #f15b27;
}
.service{

	margin: 70px 0px 40px

}

.news-section{

    margin: 70px 0px;

    position: relative;

}

.news-content{

    position:relative;

    width: 100%;

    background-color: gray;

}

.news-content img{

    width: 100%;

    color: #312828;

}



.news-content h2{

    margin-top: 3%;

    font-size: 35px;

    text-align: center;

    color: #454545;

    font-family: 'Russo One', sans-serif;

    text-align: left;

   

}

.news-text p{   

    text-align: justify;



}



.news-heading {

	font-family: 'Russo One', sans-serif;

	color: #e8562f;

	font-size: 25px;

}

.news-heading span{

	font-family: 'Russo One', sans-serif;

	color: #000;

	font-size: 25px;

}





 .news-img{

	 width: 30%;

	 display: inline-block;

vertical-align: middle;

 }

 .news-short{

	 margin-left: 5px;

	width: 65%;

	display: inline-block;

vertical-align: middle;

}





.news-short p{

font-family: 'Russo One', sans-serif;

	color: #4e4e4e;

	font-size: 16px;

	margin-bottom: 5px;



}

.news-short span{

	font-family: 'Russo One', sans-serif;

		color: #e8562f;;

		font-size: 14px;

	

	}

.list-news{

	display: inline-block;

	margin-bottom: 20px;

	background-color:#f6f6f6;

}

.news-text h2{

	color: #312828;

	font-size: 35px;

	font-family: 'Russo One', sans-serif;

	line-height: 40px;

	margin-bottom: 20px;

}



.news-text{

margin-top: 30px;

}

{

	font-family: 'Russo One', sans-serif;

font-size: 15px;

color: #fff;

font-weight: 500;

line-height: 11px;

}



.news-content > div{

	position: absolute;

color: #fff;

font-size: 15px;

background-color: #e8562f;

font-family: 'Russo One', sans-serif;

top: 20px;

left: 20px;

padding: 18px 25px 17px;

max-width: 90px;

line-height: 17px;

text-align: center;

transition: all 1s;

}

.news-content > div > span {

    display: block;

    font-size: 30px;

    line-height: 25px;

}

.awod-cont{

	width: 70%;

	margin: 80px auto 80px;

}

.awod-cont p{

	text-align: center;

line-height: 33px;

font-size: 17px;

}



.awd-div{

	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);

	position: relative;

	min-height: 270px;

	overflow: hidden;

	margin: 40px 20px 30px;

}

.awd-div > div h5{

color: #312828;

font-size: 16px;

font-family: 'Russo One', sans-serif;

text-align: center;

}

.awd-div > div p{

color: #fff;

font-size: 15px;

max-height: 0px;

overflow: hidden;

text-align: center;

transition: all 1s;

}

.awd-div > img{

	display: block;

margin: 0 auto;

max-width: 130px;

max-height: 190px;

}

.awd-div:hover div{

bottom: 0px;

height: 100%;

width: 100%;

background-color: #f15b22;



}

.awd-div div span{

	display: table-cell;

	vertical-align: middle;

}

.awd-div:hover p{

	max-height: 200px;

}



.awd-div:hover h5{

	color: #fff

}
.mobile-menu{
	position: absolute;
	display: none !important;
}
.mobile-menu span{
	display: block;
height: 2px;
background-color: #fff;
width: 37px;
margin: 7px 0px;
}
.awd-div div{

	padding: 0px 20px;

	transition: all 1s;

	position: absolute;

	bottom: 0px;

	display: table;

	height: 75px;

}

#owl-awd .owl-dot.active span{

 	background: #e8562f;

}

.affiliate.awrd h3{

	line-height: 44px;

font-size: 43px;

margin-bottom: 20px;

}

.affiliate-color.awrd{

	background-image: url(../img/awd-bc.png);

	background-size: cover;

}



.awrd-gray{

	background-color: #eaeaea;

	justify-content: flex-end;

}

.col-awd{



}

.col-awd h4{



}

.col-awd p{

	max-height: 0px;

	overflow: hidden;

	font-size: 16px

	color:#000;

	transition: all 1s;

	padding: 0px;

}

.aw-div{

	max-width: 570px;

	float: right;

	padding-right: 50px;

margin-top: 50px;

}

.col-awd h4{

	font-size: 22px;

color: #e8562f;

position: relative;

font-family: 'Russo One', sans-serif;

background-color: #fff;

padding: 5px 15px;

cursor: pointer;

margin-bottom: 0px;

}

.gry-awd{

	background-color: #eaeaea;

}

.col-awd h4:after{

	position: absolute;

	right: 20px;

	top: 4px;

	content: '+';

}

.col-awd h4.open-awd:after{

	content: '-';

}

.col-awd h4.open-awd + p{

	max-height: 300px;

	padding: 20px;

}

.awd-sec{

    margin: 70px 0px 0px;

}
.mobile-map{
	display: none;
}

#owl-bike .owl-prev{
			position: absolute;
left: 40px;
top: 50%;
transform: translateY(-50%);
}
#owl-bike .owl-next{
position: absolute;
right: 40px;
top: 50%;
transform: translateY(-50%);
}

#owl-bike .owl-nav span{
	font-size: 65px;
opacity: 0.5;
}
#owl-bike .owl-nav button{
	outline: 0;
}
#owl-bike .owl-nav button:hover{
		background: rgba(0,0,0,0);
		color: #000;
		outline: 0;
}

#italy{
	left: 553px;
top: 137px;
}



#owl-cer .owl-prev{
			position: absolute;
left: 40px;
top: 50%;
transform: translateY(-50%);
}
#owl-cer .owl-next{
position: absolute;
right: 40px;
top: 50%;
transform: translateY(-50%);
}

#owl-cer .owl-nav span{
	font-size: 65px;
opacity: 0.5;
}
#owl-cer .owl-nav button{
	outline: 0;
}
#owl-cer .owl-nav button:hover{
		background: rgba(0,0,0,0);
		color: #000;
		outline: 0;
}



#greece{
	left: 583px;
top: 146px;
}
#india{
    left: 753px;
    top: 195px;
}
#uk{
    left: 509px;
    top: 108px;
}
#netherland{
    left: 538px;
    top: 110px;
}
#ireland{
left: 489px;
top: 103px;
}
#poland{
left: 593px;
top: 102px;
}
.breadcrumbs a{
	color: #fff;
	font-family: 'Russo One', sans-serif;
}
.breadcrumbs{
	font-family: 'Russo One', sans-serif;
	color: #f15b27
}














































.fixed-ani{

	position: fixed;

	top: 0px;

width: 100%;

z-index: 100;

}

.relative{

	position: relative

}

.progres-heading{

	font-size: 25px;

	text-align: center;

	color: #454545;

	font-family: 'Russo One', sans-serif;

	margin: 40px;

}

.dote,.line{

	display: inline-block;

	vertical-align: middle;

}

.dote > span{

	width: 20px;

height: 20px;

display: block;

border: 2px solid #9b9a9a;

border-radius: 10px;

}

.dote{

	width: 1.4%;

	position: relative;

}

.line{

	width: 17%;

height: 2px;

background: #9b9a9a;

margin-right: -5px;

}

.dote > p{

    text-align: center;

position: absolute;

width: 100px;

font-size: 12px;

text-transform: uppercase;

top: 27px;

left: -40px;

opacity: 0.4;

}

.dote1 > p{

}

.dote.active > span{

	background-color: #f5633a;

	border: none;

}

.dote.active > p{

	opacity: 1;

}

.bike-msg{

	position: absolute;

	background-image: url(../img/side-back.png);

	background-repeat: no-repeat;

	background-size: 100%;

	width: 540px;

	padding: 33px 80px 33px 70px;

	transition: all 2s ease 0s;

	left: 0px;

	min-height: 260px;

}

.bike-msg h6{

	color: #fff;

font-size: 22px;

text-transform: uppercase;

letter-spacing: 1px;

margin-bottom: 15px;

}

.bike-msg p{

	color: #fff;

font-size: 14px;

margin-bottom: 0px;

}

.bike-msg img{

	float: right;

position: relative;

right: -70px;

}

.bike-msg-rm{

	left: -540px;

}

.msg-box{

	width: 570px;

overflow: hidden;

height: 100%;

}

.bike-asb{

	width: 540px;

	right: 0px;

}

.mainsf{

	position: relative;

top: 15%;

}

.ani-bike > img.rem-op.hid{

	opacity: 0

}

.ani-bike > div.rem-op.hid{

	opacity: 0

}

.ani-bike > img,.ani-bike > div{

	width: 540px;

	position:absolute;

	opacity: 0;

	-webkit-transition: opacity 1s ease-in-out;

  -moz-transition: opacity 1s ease-in-out;

  -o-transition: opacity 1s ease-in-out;

  transition: opacity 1s ease-in-out;

  top: 0px;

}

.ani-bike > div > img.bike{

	width: 540px;

}

.ani-bike > img.rem-op,.ani-bike > div.rem-op{

opacity: 1

}



.tire-right{

	position: absolute;

}



#bike4 .tire-lfet{

	position: absolute;

	-webkit-animation: rotation 3s infinite linear;

	right: -350px;

	bottom: -40px;

	opacity: 0;

	-webkit-transition: opacity 1s ease-in-out;

	-moz-transition: opacity 1s ease-in-out;

	-o-transition: opacity 1s ease-in-out;

	transition: opacity 1s ease-in-out;

	transition: all 2s ease 0s;

}



#bike4.rem-op .tire-lfet{

	right: -35px;

	bottom: -40px;

	opacity: 1

}

#bike4 .tire-right{

	position: absolute;

	-webkit-animation: rotation 3s infinite linear;

	left: -350px;

	bottom: -40px;

	opacity: 0;

	-webkit-transition: opacity 1s ease-in-out;

	-moz-transition: opacity 1s ease-in-out;

	-o-transition: opacity 1s ease-in-out;

	transition: opacity 1s ease-in-out;

	transition: all 2s ease 0s;

}



#bike4.rem-op .tire-right{

	left: -38px;

	bottom: -40px;

	opacity: 1

}











#bike5 .tire-lfet{

	position: absolute;

	-webkit-animation: rotation 3s infinite linear;

	right: -35px;

	bottom: -40px;

	transition: all 2s ease 0s;

}





#bike5.rem-op .tire-lfet{

	right: -20px;

	bottom: -7px;

	z-index: 10;

}

#bike5 .tire-right{

	position: absolute;

	-webkit-animation: rotation 3s infinite linear;

	left: -38px;

	bottom: -40px;

	transition: all 2s ease 0s;

}



#bike5.rem-op .tire-right{

	left: 4px;

	bottom: -9px;

	z-index: 10;

	opacity: 1

}

#bike5 > img.bike{

	z-index: 100;

	position: relative;

}

#bike5 .tire-right{

	position: absolute;

	-webkit-animation: rotation 3s infinite linear;

	left: -38px;

	bottom: -40px;

	transition: all 2s ease 0s;

	opacity: 0;

}



#bike5.rem-op .handle{

    top: -28px;

    position: absolute;

    right: 99px;

}



#bike5 .sheet{

	position: absolute;

	left: 100px;

	top: -80px;

	transition: all 2s ease 0s;

	opacity: 0;

}



#bike5 .handle{

	position: absolute;

	right: 64px;

	top: -88px;

	transition: all 2s ease 0s;

	opacity: 0;

}

#owl-cer .owl-bike > img{
	width: auto !important;
}

#bike5.rem-op .handle{

    top: -28px;

    position: absolute;

    right: 99px;

    opacity: 1

}

#bike5.rem-op .sheet{

	top: 4px;

position: absolute;

left: 129px;

opacity: 1

}

.colors-bike{

	position: absolute;

z-index: 100;

bottom: -350px;

width: 100%;

text-align: center;

}

.colors-bike > div{

		display: inline-block;

		margin: 0px 25px;

		vertical-align: middle;

}

.colors-bike > div > span{

	width: 20px;

	height: 20px;

	border-radius: 10px;

	cursor: pointer;

	display: block;

}

#brw > span{

background-color: #bf8a4c

}

#red > span{

 background-color: #d12121

}

#blu > span{

background-color: #6886aa

}

#yelw > span{

background-color: #eab150

}

#bike2 > img.bike{

	position: absolute;

	opacity: 0;

	-webkit-transition: opacity 1s ease-in-out;

	-moz-transition: opacity 1s ease-in-out;

	-o-transition: opacity 1s ease-in-out;

	transition: opacity 1s ease-in-out;

}

#bike2 > img.bike.act-cor{

	opacity: 1

}

.colors-bike div.act-cor span{

	border: 4px solid #cfcfcf;

border-radius: 15px;

width: 28px;

height: 28px;

}

.colors-bike div.act-cor{

	border: 2px solid #a0a0a0;

border-radius: 16px;

}

.top-0{

    top: -75px;

}

.rel-up{

	position: relative;

	z-index: 200;

	background-color: #fff

}

#bike5{

	position: relative;

left: 0px;

transition: all 2s ease 0s;

}

#bike5.go-riht{

left: 700px;

opacity: 0

}





@-webkit-keyframes rotation {

		from {

				-webkit-transform: rotate(0deg);

		}

		to {

				-webkit-transform: rotate(359deg);

		}

}

@media( max-width: 800px ){
	#menu-primary-menu > li > ul.sub-menu {
    position: relative;
    padding-top: 0;

}
#menu-primary-menu > li > ul.sub-menu li {
    width: 100%;
}
}

